@page "/"
@using LingYunImageHost.Config;
@using LingYunImageHost.Shared
@using Microsoft.Extensions.Options;
@using Microsoft.AspNetCore.Components.Forms;
@attribute [TabItemOption(Text = "Index", Closable = false)]
@inject IWebHostEnvironment IWebHostEnvironment
@inject NavigationManager NavigationManager
@implements IDisposable
@using AntDesign
@using BootstrapBlazor.Components;
<BootstrapBlazor.Components.Card class="col-12">
    <!--
    <HeaderTemplate>
        请在下方选择上传内容
    </HeaderTemplate>
    -->
    <BodyTemplate>
        <Stack IsRow="@true" Justify="@StackJustifyContent.Center" AlignItems="@StackAlignItems.Center" IsWrap="@false" IsReverse="@false">
             
            <CardUpload Accept="image/*" IsMultiple="true" TValue="string" ShowProgress="true"
            OnChange="@OnCardUpload" 
            OnDelete="@(fileName => Task.FromResult(true))"
            OnDownload="@(file=> Task.FromResult(true))"
            ShowDownloadButton="@true">
                <IconTemplate>
                    <img src="~/images/logo.png" >
                </IconTemplate>
        </CardUpload>
        
        <!--
            <Upload Action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                    Name="files"
                    Drag
                    Multiple
                    OnSingleCompleted="OnSingleCompleted">
                <p class="ant-upload-drag-icon">
                    <Icon Type="inbox" />
                </p>
                <p class="ant-upload-text">Click or drag file to this area to upload</p>
                <p class="ant-upload-hint">
                    Support for a single or bulk upload. Strictly prohibit from uploading company data or other
                    band files
                </p>
            </Upload>
            -->
        </Stack>
    </BodyTemplate>
</BootstrapBlazor.Components.Card>
@if (Items !=null) {
    <BootstrapBlazor.Components.Card class="col-12" style="margin-top: 50px;">
        <BodyTemplate>
            <BootstrapBlazor.Components.Table TItem="PictureInformation" class="col-12" Items="@Items" IsAutoRefresh="@true" AutoRefreshInterval="100">
                <TableColumns>
                    <TableColumn @bind-Field="@context.URL">
                        <Template Context="value">
                            <img src="@value.Value" class="bb-avatar" />
                        </Template>
                        </TableColumn>
                    <TableColumn @bind-Field="@context.name"/>
                    <TableColumn @bind-Field="@context.URL2" />
                </TableColumns> 
            </BootstrapBlazor.Components.Table>
        </BodyTemplate>
    </BootstrapBlazor.Components.Card>
}

@code {

    void OnSingleCompleted(UploadInfo fileinfo)
    {
        if (fileinfo.File.State == UploadState.Success)
        {
            var result = fileinfo.File.GetResponse<ResponseModel>();
            fileinfo.File.Url = result.url;
        }
    }

    public class ResponseModel
    {
        public string name { get; set; }

        public string status { get; set; }

        public string url { get; set; }

        public string thumbUrl { get; set; }
    }
}


