@page "/"
@using LingYunImageHost.Config;
@using LingYunImageHost.Shared
@using Microsoft.Extensions.Options;
@using Microsoft.AspNetCore.Components.Forms;
@attribute [TabItemOption(Text = "Index", Closable = false)]
@inject IWebHostEnvironment IWebHostEnvironment
@inject NavigationManager NavigationManager
@implements IDisposable

<Card class="col-12">
    <!--
    <HeaderTemplate>
        请在下方选择上传内容
    </HeaderTemplate>
    -->
    <BodyTemplate>
        <Stack IsRow="@true" Justify="@StackJustifyContent.Center" AlignItems="@StackAlignItems.Center" IsWrap="@false" IsReverse="@false">
            <CardUpload Accept="image/*" IsMultiple="true" TValue="string" ShowProgress="true"
            OnChange="@OnCardUpload" 
            OnDelete="@(fileName => Task.FromResult(true))"
            OnDownload="@(file=> Task.FromResult(true))"
            ShowDownloadButton="@true">
                <IconTemplate>
                    <img src="~/images/logo.png" >
                </IconTemplate>
        </CardUpload>
        </Stack>
    </BodyTemplate>
</Card>
@if (Items !=null) {
    <Card class="col-12" style="margin-top: 50px;">
        <BodyTemplate>
            <Table TItem="PictureInformation" class="col-12" Items="@Items" IsAutoRefresh="@true" AutoRefreshInterval="100">
                <TableColumns>
                    <TableColumn @bind-Field="@context.URL">
                        <Template Context="value">
                            <img src="@value.Value" class="bb-avatar" />
                        </Template>
                        </TableColumn>
                    <TableColumn @bind-Field="@context.name"/>
                    <TableColumn @bind-Field="@context.URL2" />
                </TableColumns>
            </Table>
        </BodyTemplate>
    </Card>
}


