@page "/"
@using LingYunImageHost.Config;
@using LingYunImageHost.Shared
@using Microsoft.Extensions.Options;
@using Microsoft.AspNetCore.Components.Forms;
@attribute [TabItemOption(Text = "Index", Closable = false)]
@inject IWebHostEnvironment IWebHostEnvironment
@inject NavigationManager NavigationManager
@implements IDisposable
@using AntDesign
@using BootstrapBlazor.Components;

<GridRow>
    <GridCol Span="22" Offset="1">
        <Upload ShowUploadList = "@false" Action="/api/file/upload"
                    Name="files"
                    Drag
                    Multiple
                    OnSingleCompleted="OnSingleCompleted">
                <p class="ant-upload-drag-icon">
                    <Icon Type="inbox" />
                </p>
            <p class="ant-upload-text">
                单击或拖动文件到此区域进行上传
            </p>
                <p class="ant-upload-hint">
                    支持单个或批量上传。
                </p>
        </Upload>
    </GridCol>
</GridRow>
@if (Items !=null) {
    <BootstrapBlazor.Components.Card class="col-12" style="margin-top: 50px;">
        <BodyTemplate>
            <BootstrapBlazor.Components.Table TItem="PictureInformation" class="col-12" Items="@Items" IsAutoRefresh="@true" AutoRefreshInterval="100">
                <TableColumns>
                    <TableColumn @bind-Field="@context.URL">
                        <Template Context="value">
                            <img src="@value.Value" class="bb-avatar" />
                        </Template>
                        </TableColumn>
                    <TableColumn @bind-Field="@context.name"/>
                    <TableColumn @bind-Field="@context.URL2" />
                </TableColumns> 
            </BootstrapBlazor.Components.Table>
        </BodyTemplate>
    </BootstrapBlazor.Components.Card>
}


